button {
    font-family: 'Rajdhani', sans-serif;  
}

.button-paginacao {
    margin: 10px 5px 0 5px;
    border: none;
    color: #1BBF77;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

